.company-footer
  position: relative
  background: $brown900
  padding: 50px 0
  z-index: 1
  .company-icon-full
    width: 240px
    margin-bottom: 20px
  .contact-info
    .small
      padding-left: 30px
  .small
    @extend %istok
    text-transform: uppercase
    color: $brown300
    +bold
    margin-bottom: 10px
    letter-spacing: 2px
  .larger
    display: block
    color: white
    font-style: italic
    padding-left: 30px
    border-left: 1px solid $brown600
  .socials
    li
      &:after
        display: none
  .social-icon
    border: 1px solid $brown700
    width: 40px
    height: 40px
    margin-right: 10px
    padding: 0
    border-radius: 50%
    +transition(0.25s)
    svg
      fill: white
      width: 100%
      height: 100%
      +transition(0.25s)
    &:hover
      background: white
      svg
        fill: $pink600

.footer
  background: $brown700
  padding: 10px 0
  p
    color: $brown300
    +medium
  .studio
    svg
      vertical-align: sub
      width: 17px
      height: 19px
      fill: $brown300
      margin-right: 10px