.one-wrapper
  position: relative
  padding: 0 0 50px
  &.in-blog-one
    margin-top: -50px
  img
    margin-bottom: 50px
  .date, .tag
    display: inline-block
    margin-bottom: 30px
    letter-spacing: 2px
  .date
    @extend %istok
    font-size: 12px
    color: $brown300
    &:after
      content: '\002F'
      margin: 0 10px
  .tag
    @extend %istok
    font-size: 12px
    color: $brown300
    text-transform: uppercase
  .thesis
    font-size: 21px
    color: $brown800
    +medium
    font-style: italic
    margin-bottom: 50px

  .main-text
    position: relative
    padding-top: 60px
    padding-bottom: 60px
    &.with-lines
      border-top: 4px solid $brown100
      border-bottom: 4px solid $brown100
    @media (min-width: 1920px)
      padding-top: 100px
      padding-bottom: 100px
    h1, h2, h3, h4
      color: $brown800
      margin-bottom: 20px
      text-transform: uppercase
    p
      @extend %istok
      font-size: 14px
      color: $grey600
      margin-bottom: 10px
    img
      margin-top: 50px
    ul, ol
      margin: 40px 0
      li
        font-size: 18px
        color: $brown800
        font-style: italic
        line-height: 1.5
        margin: 20px 0
    ul
      li
        &:before
          content: '\2014'
          margin-right: 10px
    ol
      counter-reset: count-list
      li
        counter-increment: count-list
        &:before
          content: counter(count-list) '.'
          margin-right: 10px
    .vacancie-link-container
      padding-top: 50px
      .all-links
        display: block
        @extend %istok
        font-size: 12px
        text-transform: uppercase
        +bold
        color: $brown700
        letter-spacing: 2px
        width: 100px
        margin-top: 20px
        margin-left: auto
    .vacancie-link
      position: relative
      display: block
      padding: 20px 0
      border-top: 1px solid $grey200
      border-bottom: 1px solid $grey200
      cursor: pointer
      &:after
        content: ''
        background-image: asset_url('svg/2h-arrow-01.svg')
        background-repeat: no-repeat
        width: 30px
        height: 30px
        position: absolute
        top: 50%
        right: 0
        opacity: 0
        +translate(-100%,0)
        +transition(0.25s)
      &:nth-child(n+2)
        margin-top: -1px
      p
        font-size: 20px
        text-transform: uppercase
        color: $brown400
        +bold
        line-height: 1
        margin-bottom: 0
      span
        font-size: 14px
        color: $grey400
        +bold
      &:hover
        border-bottom: 1px solid $pink600
        z-index: 1
        p
          color: $pink600
        &:after
          opacity: 1
          +translate(0,0)

  .one-share-block
    text-align: right
    margin-top: 30px
    .likes
      position: relative
      display: inline-block
      vertical-align: middle
      margin-right: 40px
      svg
        width: 24px
      span
        vertical-align: top
    .button
      margin-top: 0