.popup-wrapper

  position: fixed
  width: 100%
  height: 100vh
  overflow: auto
  background: rgba($brown900, .97)
  z-index: 9999
  opacity: 0
  pointer-events: none
  +transition(0.25s)

  .close-popup
    position: absolute
    top: 30px
    right: 30px
    width: 20px
    height: 20px
    cursor: pointer
    z-index: 11
    p
      margin: 20px 0
    svg
      width: 100%
      height: 100%
      fill: $brown200
    &:hover
      svg
        fill: #F8F7F3
    @media #{$small-only}
      top: 20px
      right: 20px

  .success-popup
    text-align: center
    padding: 20px
    .done
      width: 80px
      height: 80px
      margin: 0 auto
      svg
        fill: $pink600
        width: 100%
        height: 100%

  .share-block, .subscribe-block, .order-form, .resume-form, .question-form, .success-message-popup
    position: absolute
    max-width: 90%
    left: 50%
    +translate(-50%,0%)
    margin-top: 30px
    margin-bottom: 30px
    text-align: center
    opacity: 0
    @media #{$small-only}
      margin-top: 60px
      margin-bottom: 60px
    @media #{$xlarge-up}
      top: 50%
      +translate(-50%,-50%)
    form
      margin-top: 0
  .share-block, .order-form, .resume-form, .question-form
    width: 600px
  .subscribe-block, .success-message-popup
    width: 400px
  .order-form, .resume-form, .question-form, .success-message-popup
    h2
      color: $brown900

  &.share, &.subscribe, &.order, &.resume, &.question, &.success
    pointer-events: initial
    opacity: 1
  &.share
    .share-block
      opacity: 1
      z-index: 1
  &.subscribe
    .subscribe-block
      opacity: 1
      z-index: 1
  &.order
    .order-form
      opacity: 1
      z-index: 1
  &.resume
    .resume-form
      opacity: 1
      z-index: 1
  &.question
    .question-form
      opacity: 1
      z-index: 1
  &.success
    .success-message-popup
      opacity: 1
      z-index: 1

  h2
    text-transform: uppercase
    color: white
    margin-bottom: 20px

  .small
    @extend %istok
    color: $brown300
    letter-spacing: 1px
    text-transform: uppercase
    margin-bottom: 10px
  .smaller
    @extend %istok
    color: $brown200
  .wedding-name
    font-size: 48px
    color: white
    margin-bottom: 20px
    line-height: 1
    letter-spacing: 2px
    @media #{$small-only}
      font-size: 36px
    @media (min-width: 1920px)
      font-size: 60px
  .socials
    margin-top: 50px
    padding: 30px 0
    &:before, &:after
      content: ''
      width: 1px
      height: 30px
      background: $brown400
      position: absolute
      left: 50%
    &:before
      top: 0
    &:after
      bottom: 0
    li
      position: relative
      display: block
      color: $brown200
      margin-bottom: 10px
      &:after
        position: absolute
        left: 50%
        bottom: -30px
        color: $brown400
      &:hover
        a
          color: #F8F7F3
  .input-field
    text-align: left
  .input-icon
    position: absolute
    width: 37px
    height: 36px
    top: 24px
    right: 0
    padding: 5px
    background-color: $brown100

