html
  height: 100%
body
  min-height: 100%
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  font-family: 'Cormorant Infant', serif
  background: white
  .main-wrapper
    flex: 1
  &.menu-opened
    overflow: hidden

    .menu-wrapper
      pointer-events: initial
      .img-bg
        animation: menu-bg 0.8s
        animation-fill-mode: forwards

      .menu
        +translate(0,0)
        +transition-delay(0.2s)

    .header-container
      .small
        opacity: 0
        pointer-events: none
      .logo
        svg
          path.heart
            fill: white
          path.outline
            fill: $blueGrey100
        &:hover
          svg
            path.heart
              fill: $pink600

%istok
  font-family: 'Istok Web', sans-serif
%cormorant
  font-family: 'Cormorant Infant', serif
%goodvibes
  font-family: 'Goodvibespro'

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
  font-weight: 600

@each $header, $font-size in (h1: 28px, h2: 24px, h3: 22px, h4: 20px, h5: 18px, h6: 16px)
  #{$header}, .#{$header}
    font-size: $font-size

p
  font-size: 16px

a
  display: inline-block
  cursor: pointer
  +transition(0.25s)
  &:hover
    color: $pink600

ul
  position: relative
  list-style: none

ol
  position: relative
  counter-reset: list
  li
    counter-increment: list
    &:before
      content: counter(list) "."

img
  width: 100%

blockquote
  position: relative
  font-size: 24px
  font-style: italic
  +s-bold
  text-align: center
  margin: 100px auto 150px
  padding: 30px 10vw
  color: $pink600
  line-height: 1.25
  border-top: 1px solid $brown100
  border-bottom: 1px solid $brown100
  span
    position: absolute
    bottom: -40px
    right: 20px
    @extend %istok
    font-size: 12px
    +bold
    color: $brown300
    text-transform: uppercase
    font-style: normal
    letter-spacing: 2px
  @media #{$small-only}
    padding: 30px 0
  span.blockquote-author
    float: right
    @extend %istok
    font-size: 12px
    +bold
    color: $brown300
    text-transform: uppercase

.small
  font-size: 0.75rem
.smaller
  font-size: 0.875rem
.regular
  font-size: 1rem
.larger
  font-size: 1.125rem
.large
  font-size: 1.25rem

.mobile
  @media #{$medium-up}
    display: none
.desktop
  @media #{$small-only}
    display: none