.row.columns-left
  .columns
    float: left !important

.clearfix
  position: relative
  +clearfix
  .floated
    float: left
  .floated-right
    float: right
    
.dib
  display: inline-block
  vertical-align: middle
  line-height: 1

.float-right
  @media #{$medium-up}
    float: right !important
.float-left
  @media #{$medium-up}
    float: left !important

.img-bg
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-position: center
  background-size: cover
  +transition(0.2s)

.img-container
  position: relative
  width: 100%
  height: 0
  padding-bottom: 56.25%
  background-position: center
  background-size: cover

.lightened
  +grayscale
  background-color: rgba(255,255,255,0.75)
  background-blend-mode: lighten

.mask
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,0.75)
  opacity: 0
  pointer-events: none
  z-index: 3
  +transition(0.25s)
  &.visible
    opacity: 1
    pointer-events: initial

.button
  position: relative
  display: inline-block
  border: 1px solid $brown300
  color: $brown400
  padding: 7px 20px
  font-size: 18px
  transition: 0.2s ease-in
  cursor: pointer
  margin-top: 50px
  &:hover
    background-color: $pink600
    border: 1px solid $pink600
    color: white

.section-name
  position: relative
  text-align: center
  padding-top: 50px
  padding-bottom: 50px
  overflow: hidden
  &.in-contacts
    position: absolute
    width: calc(100% - 2*1em)
    text-align: left
    max-width: 1400px
    @media #{$small-only}
      top: -100px

  @media #{$medium-up}
    padding-top: 80px
    padding-bottom: 80px
  @media #{$large-up}
  @media #{$xxlarge-up}
    padding-top: 100px
    padding-bottom: 100px
  .background
    position: absolute
    width: 100%
    height: 100%
    top: 0
    @media #{$small-only}
      display: none
    svg
      max-height: 100%

  .icon
    position: relative
    svg
      width: 80px
      @media #{$small-only}
        width: 60px
  .title
    position: relative
    height: 120px
    @media #{$small-only}
      height: 100px
    svg
      height: 100%
      max-width: 100%

.socials
  position: relative
  li
    @extend %cormorant
    display: inline-block
    font-size: 18px
    color: $brown600
    letter-spacing: 2px
    a
      padding: 10px
    &:after
      content: '\00B7'
      font-size: 2em
      color: $pink600
      vertical-align: sub
    &:last-child
      &:after
        display: none

.hashtag
  color: $pink600
  letter-spacing: 2px
  span
    color: $brown800

.indent
  padding: 100px 0

.heart-icon
  position: relative
  width: 20px
  svg
    fill: white
    stroke: $brown900
  &.azure
    svg
      fill: $azure
      stroke: transparent
  &.blue
    svg
      fill: $blue
      stroke: transparent
  &.emerald
    svg
      fill: $emerald
      stroke: transparent